# Terraform specific files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
**/*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# Uncomment to include specific override files
# !example_override.tf
# Uncomment to ignore tfplan files
# *tfplan*
.terraform.lock.*

# Rust specific files
target/
# Uncomment if creating an executable and wish to include Cargo.lock
# Cargo.lock
**/*.rs.bk

# Compiled files and caches
*__pycache__

# Editor specific files
.idea/
*.vscode/
*.swp
*.swo
.DS_Store

# Environment configuration files
.env
.env.local

# Bootcamp specific files
misc/drills/4-morse-code/media/*
aws/scripts/*.json
aws/scripts/report.md
aws/scripts/aws_resources.txt
langchain/data
langchain/constants.py